{% extends 'database_app/base.html' %}
{% block content_area %}
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>About this database</b>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <p align="left">
                    This database was created to compile research on transition metal nitrides to allow easier access to other
                    researchers and industry. For any errors or additions please fill out a form or send an email to
                    blablabla@utoledo.edu.
                    This work has been sponsored by .....
                    </p>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>
        <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
{% endblock %}