{% extends 'database_app/admin_type_filter.html' %}
{% block page_heading %}
    <br><br><br><br>
<!--<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Test Page Heading</h1>
    </div>
</div>-->
{% endblock %}
{% block main_panel_heading %}
Transition Metal Nitride Database
{% endblock %}
{% block main_panel_body %}
    {% load render_table from django_tables2 %}
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
    {% render_table table %}
{% endblock %}
{% block pull_down_menu %}
    <li><a href="#">Download Selection as CSV</a>
    </li>
    <li><a href="#">Download Database as CSV</a>
    </li>
{% endblock %}
{% block nav_panel_heading %}
    Filter
{% endblock %}
{% block nav_panel_body %}
<div>
{#<div class="module filtered" id="changelist">#}
    <div id="changelist-filter">
        <br><br><br>
        <h2>Filter</h2>

        <h3> By Structure </h3>
        <ul>

            <li class="selected">
            <a href="?">All</a></li>

            <li>
            <a href="?Structure=anti-ReO3">anti-ReO3</a></li>

            <li>
            <a href="?Structure=bcc">bcc</a></li>

            <li>
            <a href="?Structure=BREAK">BREAK</a></li>

            <li>
            <a href="?Structure=cesium+chloride">cesium chloride</a></li>

            <li>
            <a href="?Structure=fcc">fcc</a></li>

            <li>
            <a href="?Structure=fluorite">fluorite</a></li>

            <li>
            <a href="?Structure=NbO">NbO</a></li>

            <li>
            <a href="?Structure=pyrite">pyrite</a></li>

            <li>
            <a href="?Structure=rocksalt">rocksalt</a></li>

            <li>
            <a href="?Structure=wurtzite">wurtzite</a></li>

            <li>
            <a href="?Structure=zincblende">zincblende</a></li>

        </ul>

        <h3> By Metal </h3>
        <ul>

            <li class="selected">
            <a href="?">All</a></li>

            <li>
            <a href="?Metal=Ag">Ag</a></li>

            <li>
            <a href="?Metal=Au">Au</a></li>

            <li>
            <a href="?Metal=BREA">BREA</a></li>

            <li>
            <a href="?Metal=Cd">Cd</a></li>

            <li>
            <a href="?Metal=Co">Co</a></li>

            <li>
            <a href="?Metal=Cr">Cr</a></li>

            <li>
            <a href="?Metal=Cu">Cu</a></li>

            <li>
            <a href="?Metal=Fe">Fe</a></li>

            <li>
            <a href="?Metal=Hf">Hf</a></li>

            <li>
            <a href="?Metal=Hg">Hg</a></li>

            <li>
            <a href="?Metal=Ir">Ir</a></li>

            <li>
            <a href="?Metal=Mn">Mn</a></li>

            <li>
            <a href="?Metal=Mo">Mo</a></li>

            <li>
            <a href="?Metal=Nb">Nb</a></li>

            <li>
            <a href="?Metal=Ni">Ni</a></li>

            <li>
            <a href="?Metal=Os">Os</a></li>

            <li>
            <a href="?Metal=Pd">Pd</a></li>

            <li>
            <a href="?Metal=Pt">Pt</a></li>

            <li>
            <a href="?Metal=Re">Re</a></li>

            <li>
            <a href="?Metal=Rh">Rh</a></li>

            <li>
            <a href="?Metal=Ru">Ru</a></li>

            <li>
            <a href="?Metal=Sc">Sc</a></li>

            <li>
            <a href="?Metal=Ta">Ta</a></li>

            <li>
            <a href="?Metal=Tc">Tc</a></li>

            <li>
            <a href="?Metal=Ti">Ti</a></li>

            <li>
            <a href="?Metal=V">V</a></li>

            <li>
            <a href="?Metal=W">W</a></li>

            <li>
            <a href="?Metal=Y">Y</a></li>

            <li>
            <a href="?Metal=Zn">Zn</a></li>

            <li>
            <a href="?Metal=Zr">Zr</a></li>

            </ul>

        <h3> By Experimental </h3>
        <ul>

            <li class="selected">
            <a href="?">All</a></li>

            <li>
            <a href="?Experimental__exact=1">Yes</a></li>

            <li>
            <a href="?Experimental__exact=0">No</a></li>

        </ul>

        <h3> By Stable </h3>
        <ul>

            <li class="selected">
            <a href="?">All</a></li>

            <li>
            <a href="?Stable__exact=1">Yes</a></li>

            <li>
            <a href="?Stable__exact=0">No</a></li>

        </ul>

        <h3> By Is with spin </h3>
        <ul>

            <li class="selected">
            <a href="?">All</a></li>

            <li>
            <a href="?Is_with_spin__exact=1">Yes</a></li>

            <li>
            <a href="?Is_with_spin__exact=0">No</a></li>

        </ul>

        <h3> By Potential </h3>
        <ul>

            <li class="selected">
            <a href="?">All</a></li>

            <li>
            <a href="?Potential=BREAK">BREAK</a></li>

            <li>
            <a href="?Potential=EXPERIMENTAL">EXPERIMENTAL</a></li>

            <li>
            <a href="?Potential=GGA">GGA</a></li>

            <li>
            <a href="?Potential=LDA">LDA</a></li>

            <li>
            <a href="?Potential=LSDA">LSDA</a></li>

        </ul>

    </div>
{#</div>#}
</div>
{% endblock %}