{% extends 'database_app/base.html' %}
{% block content_area %}
    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Index
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="{% url 'database:csv_selection' %}">Download Selection as CSV</a>
                                </li>
                                <li><a href="{% url 'database:csv_all' %}">Download Database as CSV</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    {% load render_table from django_tables2 %}
                     <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
                    {% render_table table %}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Filter
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form action="" method="get">
                        {{ filter.form.as_p }}
                        <input type="submit" />
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-2 -->
    </div>
    <!-- /.row -->
{% endblock %}

